*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-light:hsla(0, 0%, 100%, 1);
  --bg-collor-dark:hsla(240, 5%, 7%, 1);
  --primary-color:hsla(240, 6%, 21%, 1);
  --secondary-color:hsla(194, 97%, 31%, 1);

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color-light);
  color: var(--primary-color);
  text-align: center;

  font-family: 'Roboto', sans-serif;

  display: grid;

  min-height: 100vh;
  min-width: 100vw;
}

.changetheme {
  display: flex;
  justify-content: right;
}

main{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0 auto;
  gap: 5rem;
}

button {

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.range  {
  -webkit-appearance: none;
  position: relative;
  appearance: none;
  width: 9rem;
  height: 0.5rem;
  border-radius: 5px;
  background-color: #323238;
}

#volFlorest,
#volRain,
#volCoffe,
#volFireplace{
  bottom: 3.2rem;
}

.range::-webkit-slider-thumb{
  
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #323238;
}

.active #volFlorest,
.active #volRain,
.active #volCoffe,
.active #volFireplace{

  background-color: #FFFFFF;

}
 
.active #volFlorest::-webkit-slider-thumb,
.active #volRain::-webkit-slider-thumb,
.active #volCoffe::-webkit-slider-thumb,
.active #volFireplace::-webkit-slider-thumb{

  background-color: #FFFFFF;

}

.dark #volFlorest,
.dark #volRain,
.dark #volCoffe,
.dark #volFireplace{

  background-color: #FFFFFF;

}

.dark #volFlorest::-webkit-slider-thumb,
.dark #volRain::-webkit-slider-thumb,
.dark #volCoffe::-webkit-slider-thumb,
.dark #volFireplace::-webkit-slider-thumb{

  background-color: #FFFFFF;
  
}

.hide{
  display: none;
}

.active path[fill*='#E1E1E6']{
  fill:#02799D;
}

.active path[fill*='#323238']{
  fill:white;
}

#timer {
  font-size: 12.6rem;
  display: flex;
}

#controls {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

#music {
  display: grid;
  grid-template-areas: 
  'A B'
  'C D';
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 30vw, 30.8rem);
  height: clamp(10rem, 10rem + 30vw, 33,12.6rem);
}

.dark {
  background-color: var(--bg-collor-dark);
  color: white;
}

.dark path[fill*='#E1E1E6']{
  fill:#29292E;
}

.dark .active path[fill*='#E1E1E6']{
  fill:#0A3442;
}

.dark path[fill*='#323238']{
  fill:white;
}

@media (min-width: 1024px) {
    main{
      display: flex;
      flex-direction: row;
      gap: 19.2rem;
      max-width: 820px;
      max-height: 336px;
    }

    #timer{
      padding-top: 6.2rem;
    }

    .changetheme{
      position: absolute;
      top: 6.4rem;
      right: 6.4rem;
    }
}
